# Target directories.
target/

# Eclipse configuration.
.classpath
.project
.settings/

# IntelliJ IDEA configuration.
# .idea/
# /out/
java-labs.iml

# Netbeans configuration.
/nbproject/private/
/dist/
/build/
